#feedback_form {
    position:relative;
    padding-top:10%;
    padding-bottom:10%;
    padding-left:30%;
  
}

#title {
    color:#FF9900;
    padding-bottom:15px;
    font-family:'Times New Roman';
    font-weight:bold;
    font-size:20px;
}

.label {
    height:60px;
    color:#FFBF00;
    padding-bottom:15px;
    padding-right:20px;
    font-family:'Times New Roman';
    font-weight:bold;
    font-size:18px;
}

.text {
    height:40px;
    color:black;
    padding-right:20px;
    font-family:'Times New Roman';
    font-weight:bold;
    font-size:18px;
}

.fail {
    padding-bottom:15px;
    color:red;
    font-family:'Times New Roman';
    font-size:16px;
}

.button {
    width:auto;
    height:40px;
    color:#FFBF00;
    font-family:'Times New Roman';
    font-size:18px;
    background:#281300;
    color:#FF9900;
}

.view {
    color:black;
    padding-top:15px;
    font-family:'Times New Roman';
    font-weight:bold;
    font-size:18px;
}

    .view a {
        color:#97694F;
    }

        .view a:hover {
            color:white;
        }
