.hidden {
            visibility: hidden;
        }

     .visible {
	        visibility : visible;
        }

     .heightZero 
    {
        height: 0px;
    }

    .heightFull 
    {
        height: 100%;
    }

#map {
    height: auto;
    margin-top:4%;
    width:95%;
    padding-left:3%;
}

#map-part {
    height: 80%;
    width: 55%;
    margin-left:10px;
    margin-bottom: 40px;
}

#directions {
    width: 80%;
    height:auto;
    margin: auto auto;
    margin-top:15px;
    float: left;
    font-family: Times New Roman;
    font-size: 18px;
    padding: 5px 10px;
}

#start {
    height:auto;
}

#start a{
   color:#97694F;
}

#start a:hover {
    color:white;
}
         
#title1 {
    width: auto;
    font-family: Times New Roman;
    font-weight:bold;
    font-size: 20px;
    color:#FFBF00;
    text-align: center;   
    margin: auto auto;
    padding-top:25px;
}

#error {
    color:Red;
    font-family: Times New Roman; 
    font-size: 18px; 
    font-style:Italic;
    font-weight: bold;
}

.source {
    height:auto;
    font-family: Times New Roman; 
    font-size: 20px; 
    font-weight:bold;
    color:#FFBF00;
    padding-bottom:8px;
}

#from1 {
    height:auto;
     width: 30%;
     height: 40px;
     font-family: Times New Roman;
     font-size: 18px;
     margin-right:25px;
}

#to1 {
    height:auto;
     width: 30%;
     height: 40px;
     font-family: Times New Roman;
     font-size: 18px;
}

#from1-link {
    height:auto;
    color:#97694F;
}

#search {
    height:auto;
    width: 150px;
    height: 40px;
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 20px;
    color:black;
}

.option {
    font-family: Times New Roman;
     font-size: 28px;
}

.radio {
    height:auto;
    font-family: Times New Roman; 
    font-size: 20px; 
    color:white;
    padding-bottom:8px;
}

#panel1 {
    height: auto;
    margin-top:4%;
    width:100%;
}

#panel {
    width:55%;
    height:auto;
    background-color:#787878 ;
    margin-left:10px;
    margin-bottom: 40px;
}

